<%= render 'pages/home' unless user_signed_in? %>
<div id="projects" class="transitions-enabled">
  <% @projects.each do |project| %>
    <div class="box">
      <h3 class="center"><%= project.name %></h3>
      <%= link_to image_tag(project.finished_image.url(:medium)), project, class: "img-thumbnail" %>
    </div>
  <% end %>
</div>